<h1>Edit Insurance</h1>
<%= form_with(model: [:admin, @insurance]) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :price_cents %>
      <%= form.number_field :price_cents %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>