<p>
  <%= @insurance.name %>
</p>
<p>
  Company: <%= @insurance.company&.name %>
</p>

<h2>Sign up for this insurance</h2>

<%= form_with model: [@insurance, @subscription] do |form| %>
  <div>
    <%= form.label :starts_on %>
    <%= form.date_field :starts_on %>

    <div>
      <%= form.label :discount_code_value %>
      <%= form.text_field :discount_code_value %>
    <div>

    <% if @subscription.errors.any? %>
      <div class="error">
        <%= @subscription.errors.full_messages.join(", ") %>
      </div>
    <% end %>
  </div>

  <%= form.submit "Pay" %>
<% end %>
